{% extends 'mailing/base.html' %}
{% block title %}Детали рассылки{% endblock %}
{% block content %}
<h2 class="mt-2 text-center">Детали рассылки</h2>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-1">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Рассылка: "{{ mailing.start_sending }}"</p>
                        <p class="card-text">Время начала: "{{ mailing.start_sending }}"</p>
                        <p class="card-text">Время окончания: "{{ mailing.end_sending }}"</p>
                        <p class="card-text">Статус: "{{ mailing.status }}"</p>
                        <p class="card-text">Тема сообщения: {{ mailing.message | truncatechars:50 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-secondary" href="{% url 'mailing:mailing_list' %}" role="button">
                                    Назад
                                </a>
                                {% if mailing.owner == user %}
                                <a class="btn btn-warning" href="{% url 'mailing:mailing_update' mailing.pk %}"
                                   role="button">
                                    Редактировать
                                </a>
                                <a class="btn btn-lg btn-block btn-outline-primary"
                                   href="{% url 'mailing:send_mail' mailing.pk %}"
                                   role="button">
                                    Отправить
                                </a>
                                <a class="btn btn-danger" href="{% url 'mailing:mailing_delete' mailing.pk %}"
                                   role="button">
                                    Удалить
                                </a>
                                {% endif %}
                                <a class="btn btn-lg btn-block btn-outline-primary"
                                   href="{% url 'mailing:finish_mailing' mailing.pk %}"
                                   role="button">
                                    Завершить
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
