{% extends 'mailing/base.html' %}
{% block title %}Подробнее о сообщении{% endblock %}
{% block content %}
<h2 class="mt-2 text-center">Детали сообщения</h2>
    <div class="container">
        <div class="row text-center">
            <h4 class="my-0 font-weight-normal mt-3">Сообщение: {{ message.id }}</h4>
            <h4 class="my-0 font-weight-normal mt-3">Тема сообщения: {{message.topic}}</h4>
            <h4 class="my-0 font-weight-normal mt-3">Текст сообщения: {{message.text}}</h4>
            <div class="btn-group">
                {% if message.owner == user %}
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:message_update' message.pk %}"
                   role="button">
                    Редактировать
                </a>
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:message_delete' message.pk %}"
                   role="button">
                    Удалить
                </a>
                {% endif %}
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'mailing:message_list' %}"
                   role="button">
                    Назад
                </a>
            </div>
        </div>
    </div>
{% endblock %}
