{% extends 'mailing/base.html' %}
{% block title %}Список получателей{% endblock %}
{% block content %}
<h2 class="mt-2 text-center">Получатели</h2>
<div class="container mt-3">
    {% for recipient in object_list %}
    <h4 class="my-0 font-weight-normal">Получатель: {{recipient}}</h4>
    <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
            <a class="btn btn-lg btn-block btn-outline-primary"
               href="{% url 'mailing:recipient_detail' recipient.pk %}" role="button">
                Подробнее
            </a>
            {% if recipient.owner == user %}
            <a class="btn btn-lg btn-block btn-outline-primary"
               href="{% url 'mailing:recipient_update' recipient.pk %}" role="button">
                Изменить
            </a>
            <a class="btn btn-lg btn-block btn-outline-primary"
               href="{% url 'mailing:recipient_delete' recipient.pk %}" role="button">
                Удалить
            </a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
