{% extends 'mailing/base.html' %}
{% block title %}Страница пользователей{% endblock %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        {% for user in object_list %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="container mt-3">
                <div class="container mt-3">
                    <h4 class="my-0 font-weight-normal">Пользователь: {{user.email}}</h4>
                    <form action="{% url 'users:user_block' user.pk %}" method="post">
                        {% csrf_token %}
                        <button class="btn btn-lg btn-block btn-danger" role="button" type="submit">
                            Заблокировать пользователя
                        </button>
                        <a class="btn btn-lg btn-block btn-danger" href="{% url 'mailing:home' %}" role="button">Назад</a>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
